body{
    background-color: rgb(216, 216, 216);
}

.centralizar{
    max-width: 660px;
    margin:0 auto;
}

#titulo{
    text-align: center;
}

.vermelha{
    background-color: brown;
    padding: 100px;
    margin: 10px;
}

.display{
    display: flex;
}

.esticar{
    padding-left: 300;
}

.esticar_para_baixo{
    padding-bottom: 320px;
}