body{
    background-color: rgb(216, 216, 216);
}

.centralizar{
    max-width: 660px;
    margin:0 auto;
}

#titulo{
    text-align: center;
}

.div_vermelha{
    background-color: brown;
    padding: 100px;
    margin: 10px;
}

.div_display{
    display: flex;
}

.div_esticar{
    padding-left: 220px;
}
