body{
    background-color: rgb(216, 216, 216);
}

.centralizar{
    max-width: 660px;
    margin:0 auto;
}

#titulo{
    text-align: center;
}

.div_vermelha{
    background-color: brown;
    padding: 100px;
    margin: 10px;
    border: solid;
    border-color: black;
    box-sizing: border-box;
}

.div_display{
    display: flex;
    background-color: rgb(255, 255, 255);
}

.div_normal{
    background-color: rgb(216, 216, 216);
}